@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

.aboutwrapper{
  padding: 10px;
}
.about{
  font-size: 12px;
  width: 100%;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}
.sec > span{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.photo{
  border-radius: 100%;
  height: 250px;
  width: 250px;
  background: url('../images/self.gif');
  background-size: cover;
  margin: 40px auto;
}

/* <---------------- --------------------> */
/* iphone 6 plus media portrait-mode query */

    @media only screen and (max-width : 414px)  {
      .aboutwrapper{
        display: block;
        height: 84vh;
        overflow: auto;
      }
      .about{
        display: block;
        padding: 5px;
        overflow: auto;
      }
      .photo{
        height: 170px;
        width: 170px;
        margin: 10px auto 0px;
      }
      .sec{
        padding: 15px;
        font-size: 12px;
      }
    }


/* <---------------- --------------------> */
  /* ipad portrait-mode media query */

    @media only screen and (max-width : 768px)  {
      .photo{
        height: 160px;
        width: 160px;
        margin: 0 auto;
      }
      .aboutwrapper{
        height: 84vh;
        overflow: auto;
      }
      .about{
        display: inline-block;
        overflow: auto;
      }
      .sec{
        padding: 5%;
      }
    }
