@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  margin: 0;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.wrapper{
  height: 100%;
}
nav{
  display: inline;
  padding: 20px;
}
.logo{
  margin: 10px;
  width: 10%;
  min-width: 120px;
}
nav > ul{
  list-style-type: none;
  display: inline;
  position: absolute;
  right: 50px;
  top: 15px;
}
ul > li{
  font-size: 12px;
  display:inline;
  margin: 0 10%;
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
}
#main{
  border: 1px solid black;
  width: 96%;
  height: 83vh;
  margin: 20px auto;
}
div{
  font-size: 14px;
}
#loader{
  margin: 0 auto;
}
.line{
  margin: 0 auto;
  border-bottom: 1px solid black;
  width: 95%;
}
.loading{
  transition: 2s;
  animation: loading 4s linear;
}
.loadingcards{
  animation: fadedelay 5s linear;
}
@keyframes loading{
  0%{
    height: 1px;
    width: 0px;
    display: none;
  }
  50%{
    height: 30px;
    width: 0px;
  }
  60%{
    height: 83vh;
    width: 0px;
  }
  100%{
    width: 96%;
    display: block;
  }
}
@keyframes fadedelay{
  0%, 80%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* <---------------- --------------------> */
/* iphone 6 plus portrait-mode media query */

    @media only screen and (max-width : 414px)  {
      #main{
        height: 80vh;
        margin: 5px auto;
      }
      .logo{
        width: 15%;
        min-width: 150px;
        margin-top: 5%;
      }
      nav > ul{
        right: 40px;
        top: 20px;
      }
      ul > li{
        font-size: 12px;
      }
    }

/* <---------------- --------------------> */
/* ipad portrait-mode media query */

    @media only screen and (max-width : 768px)  {
      #main{
        height: 85vh;
        margin: 5px auto;
      }
      .logo{
        width: 5%;
        min-width: 150px;
        margin-top: 3%;
      }
      nav > ul{
        right: 40px;
        top: 20px;
      }
      ul > li{
        font-size: 12px;
      }
    }
