@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Roboto:300');

.inner{
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
p > a {
  text-decoration: underline;
}

.image > img {
  background-size: cover;
}

.card{
  margin: 10px;
}

.card > .content {
  overflow: scroll;
}
