@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Roboto:300');

:root{
  --photoshop: #4F7CAC;
  --illustrator: #FF6700;
  --indesign: #F564A9;
  --bulma: #06D6A0;
  --react: #FCF6BD;
  --express: #EF476F;
  --jQuery: #26547C;
  --html: #C4CAD0;
  --css: #00A6ED;
  --api: #F6511D;
}
.inner{
  height: 100%;
  width: 250%;
  overflow-x: scroll;
  padding: 5%;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  scroll-behavior: smooth;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
p > a {
  text-decoration: underline;
}

img {
  background-size: cover;
}

.card{
  margin: 10px;
}
.photoshop{
  color: var(--photoshop);
}
.illustrator{
  color: var(--illustrator);
}
.indesign{
  color: var(--indesign);
}
.bulma{
  color: var(--bulma);
}
.react{
  color: var(--react);
}
.express{
  color: var(--express);
}
.api{
  color: var(--api);
}
.jQuery{
  color: var(--jQuery);
}
.html{
  color: var(--html);
}
.css{
  color: var(--css);
}
.content > span{
  margin-right: 15px;
}

.work{
  height: 450px;
  width: 250px;
  transform: skew(20deg);
  border: solid 2px red;
  display: inline-block;
  margin-top: 15vh;
  margin-right: 10px;
}
.work:hover{
  width: 400px;
  transition: width 2s;
}
.work > img{
  border: solid blue 1px;
}

/* <---------------- --------------------> */
    /* ipad portrait-mode media query */

    @media only screen and (max-width : 768px)  {
      .inner{
        grid-template-columns: repeat(2, 1fr);
      }
      .card{
        height:480px;
      }
      div{
        font-size: 10px;
      }
      .content > span{
        display: inline-block;
      }
    }
    
    /* <---------------- --------------------> */
    /* iphone 6 plus media portrait-mode query */

    @media only screen and (max-width : 400px)  {
      .inner{
        grid-template-columns: repeat(1, 1fr);
      }
      p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
      }
      div{
        font-size: 12px;
      }
      .card{
        margin: 10px auto;
        height: 470px;
        width: 320px;
      }
      .content > span{
        display: inline-block;
      }
    }
