@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Roboto:300');

:root{
  --photoshop: #4F7CAC;
  --illustrator: #FF6700;
  --indesign: #F564A9;
  --bulma: #06D6A0;
  --react: #FCF6BD;
  --express: #EF476F;
  --jQuery: #26547C;
  --html: #C4CAD0;
  --css: #00A6ED;
  --api: #F6511D;
}
.inner{
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
p > a {
  text-decoration: underline;
}

img {
  background-size: cover;
}

.card{
  margin: 10px;
  animation: fadedelay 5s linear;
}
.photoshop{
  color: var(--photoshop);
}
.illustrator{
  color: var(--illustrator);
}
.indesign{
  color: var(--indesign);
}
.bulma{
  color: var(--bulma);
}
.react{
  color: var(--react);
}
.express{
  color: var(--express);
}
.api{
  color: var(--api);
}
.jQuery{
  color: var(--jQuery);
}
.html{
  color: var(--html);
}
.css{
  color: var(--css);
}
.content > span{
  margin-right: 15px;
}

@keyframes fadedelay{
  0%{
    opacity: 0;
  }
  60%{
    opacity: .5;
  }
  100%{
    opacity: 1;
  }
}
.inner .card:nth-child(1){
  animation-delay: -.5s;
}.inner .card:nth-child(2){
  animation-delay: -1.5s;
}.inner .card:nth-child(3){
  animation-delay: -2s;
}.inner .card:nth-child(4){
  animation-delay: -2.5s;
}.inner .card:nth-child(5){
  animation-delay: -3s;
}.inner .card:nth-child(6){
  animation-delay: -3.5s;
}.inner .card:nth-child(7){
  animation-delay: -4s;
}.inner .card:nth-child(8){
  animation-delay: -4.5s;
}
